footer {
  color: #fff;
}
ul {
  padding: 0px;
}
ol, ul {
  margin-bottom: 0px;
}

.social-icon {
  padding: 0;
  margin-bottom: 0px;
  text-align: center;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li i {
  font-size: 22px;
  color: #ffffffda;
  padding: 5px;
  border: solid 1px #ffffffda;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  line-height: 27px;
  margin-right: 10px;
  transition: 1s;
  background: transparent;
}
.social-icon li i:hover {
  border: solid 2px #e7e7e7;
  color: #e7e7e7;
  background: transparent;
}

.child-spec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-up {
  background: #2c3e50;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
}
.footer-up h4 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer-up p {
  font-size: 16px;
  line-height: 2;
}

footer p {
margin-bottom:0;
}
footer ul.social-icon {
  float: left;
}
footer .social-icon li i:hover {
  background: #1abc9cbc;
  /* border-color: #4b8800; */
}
.footer-down {
  background: #1a252f;
  padding: 10px 0px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.footer-down ul li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;

}
.footer-down ul li a{
  color:#fff;
}
.copyright {
  font-size: 18px;
}
.footer-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.child {
  width: 30%;

  padding:40px 20px;
  text-align: center;

}
@media (max-width: 900px) {
.footer-cont{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.child h4{
  font-size:22px;

}

}

