<footer >
  <div class="footer-up">
      <div class="container p-5">
          <div class="footer-cont">
              <div class="child">
                <div class="text-center">
                  <h4> LOCATION</h4>
                  <p>
                    2215 John Daniel Drive
                    Clark, MO 65243
                  </p>
                </div>

              </div>

              <div class="child ">
                  <div class="text-center child-spec">
                    <h4>AROUND THE WEB</h4>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
              </div>

              <div class="child">
                  <div class="text-center">
                  <h4>ABOUT FREELANCER</h4>
                  <p>
                    Freelance is a free to use, licensed Bootstrap theme created by Route
                  </p>
                  </div>
              </div>

          </div>
      </div>
      <div class="footer-down">
          <div class="container text-center">
                      <p class="copyright text-uppercase">
                        Copyright Amany Ahmed © 2023
                      </p>
          </div>
      </div>
  </div>
</footer>
