<div class="home">
  <div class="home-content text-white">

    <h1>
      About Component
    </h1>
    <div class="star-icon">
      <span></span>
      <i class="fa-solid fa-star"></i>
      <span></span>
    </div>
    <div class="about-text d-flex">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae provident Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quos porro ipsum hic ad laborum doloribus nisi sunt nobis temporibus. ea quia quod deserunt quis atque a ipsa dolores! Sequi.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae provident ea quia quod deserunt quis atque a ipsa dolores! Sequi Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia harum possimus dicta enim maiores doloremque earum autem eius dolorum tenetur!.</p>
    </div>
  </div>
  </div>
